<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>BoardWeb</display-name>
  <!--  apache tiels -->
  <!--요청들어올때 .tiles 작동하는 -->
  <listener>
    <listener-class>org.apache.tiles.extras.complete.CompleteAutoloadTilesListener</listener-class>
</listener>
  
  
  <!-- 필터,urel패턴-->
  <filter>
  	<filter-name>log</filter-name>
  	<filter-class>com.yedam.common.LogFilter</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>log</filter-name>
  	<!-- /addBoard.serv에만 적용 	<url-pattern>/addBoard.serv</url-pattern>,선입선출-->
  	<url-pattern>/*</url-pattern>
  </filter-mapping>
  
  
  
  
  <!-- tiles 서블릿.-->
  <servlet>
    <servlet-name>Tiles Dispatch Servlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
	 <servlet-name>Tiles Dispatch Servlet</servlet-name>
	 <url-pattern>*.tiles</url-pattern>
	</servlet-mapping>

  <!-- 
    <servlet>
  	<servlet-name>addServlet</servlet-name>
  	<servlet-class>com.yedam.servlet.AddBoard</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>addServlet</servlet-name>
 	 <url-pattern>/addBoard.serv</url-pattern>
  </servlet-mapping>
  
  
  *.do로 호출들어오는건 모두 얘가 실행
   서블릿과 url패턴을 지정. * 아무url상관없이 요청들어오면.serv로시작하는 url 모두 대체-->
  <servlet>
  	<servlet-name>front</servlet-name>
  	<servlet-class>com.yedam.common.FrontController</servlet-class>
  </servlet>
  <servlet-mapping>
 	 <servlet-name>front</servlet-name>
 	 <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
   <!--  index에서<welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>--> 
  </welcome-file-list>
</web-app>