<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 경로 . ,/다시공부 -->
<mapper namespace="com.yedam.mapper.MemberMapper">
<!-- 두개일경우 클래스로선언하거나 @Parm,쿼리안에서 id에 해당되는파라미터값은 이렇게지정하겠다. parameterType="",Member타입은 memberVO-->
<select id = "selectMember" resultType="Member">
	select member_id
	      ,member_name
	      ,password
	      ,responsibility
    from  tbl_member
    where member_id = #{id}
    and   password = #{pw}
</select>

<!-- 회원목록 -->
<!-- ${}인 이유는-> 문자열을 구문에 직접 삽입,name,id가 String -->
<!-- jtls처럼 choose-when-otherwise,member_name값넘겨줌, -->
<select id="selectList" resultType="Member" parameterType="String">
	select member_id
	      ,member_name
	      ,password
	      ,responsibility
    from  tbl_member
    order by ${order}
	<!--  <choose>
		<when test="order == 'id'.toString()">
			order by member_id
		</when>
		<otherwise>
			order by member_name
		</otherwise>
	</choose>-->
</select>
	
	<!-- 회원추가 파라미터    //order by ${order}-->
	<insert id="insertMember" parameterType="Member">
		insert into tbl_member(member_id,member_name,password,img)
		values(#{memberId},#{memberName},#{password},#{img})
	</insert>
	
	<!-- 회원 조회 ,resultType반환타입-->
	<select id="selectMemberInfo" resultType="Member" parameterType="String">
		select member_id
	      ,member_name
	      ,password
	      ,responsibility
	      ,img
    from  tbl_member
    where member_id = #{id}
	</select>
	
</mapper>