<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 경로 . ,/다시공부 -->
<mapper namespace="com.yedam.mapper.MemberMapper">
<!-- 두개일경우 클래스로선언하거나 @Parm,쿼리안에서 id에 해당되는파라미터값은 이렇게지정하겠다. parameterType="",Member타입은 memberVO-->
<select id = "selectMember" resultType="Member">
	select member_id
	      ,member_name
	      ,password
	      ,responsibility
    from  tbl_member
    where member_id = #{id}
    and   password = #{pw}
</select>

</mapper>