<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <!-- 경로 . ,/다시공부 -->
<mapper namespace="com.yedam.mapper.ReplyMapper">
	<!--목록  resultType="Reply"-->
	<select id="selectList" parameterType="int" >
		<!-- select * 
		from tbl_reply
		where board_no = #{bno}
		order by reply_no desc-->
		select a.*
		from   (select /*+INDEX_DESC(r pk_reply) */rownum rn, r.*
		        from tbl_reply r
		        where board_no = #{bno}) a
		 where a.rn >(#{page} -1) * 5 * 0
		<!--  where a.rn >(#{page} -1) * 5
		<![CDATA[
		and   a.rn <= (#{page} *5)
		]]>
		and   a.rn <= (#{page} -1) *5 *0-->
		<![CDATA[
		and   a.rn <= (#{page} *50000)
		]]>
	</select>
	
	<!-- 댓글건수 -->
	<select id="selectTotal" parameterType="int" resultType="int">
		select count(1)
		from tbl_reply
		where board_no = #{bno}
	</select>
	<!-- 조회 select -->
	<!-- 단건조회 ;,오류 JDBC는 그것을 하나의 문장으로 인식하지 못하고 문법 오류(ORA-00933)-->
	<select id="getReply" parameterType="int">
		select * 
		from tbl_reply
		where reply_no = #{rno}
	</select>
	<!-- 추가 -->
	<insert id="insertReply" parameterType="Reply">
	<!-- key값-->
	<!-- dual  DUAL 테이블 오라클에서 제공하는 더미 테이블 -->
	<!-- order  insert 기준으로 전에 추가될지 후에 추가될지 -->
	<!--  keyProperty:???  selectKey구문의 결과가 셋팅될 대상을 지정 -->
	<!-- selectKey 우선 입력한 값의 결과값을 다음 쿼리로 바로 return시켜줌.쿼리를 replyno,select값먼저넣어줌 ,,select reply_seq.nextval from dual ->replyNo-->
	 	<selectKey keyProperty="replyNo" order="BEFORE" resultType="int">
	 		select reply_seq.nextval from dual
	 	</selectKey> 	
		insert into tbl_reply(reply_no,
							  board_no,
							  reply,
							  replyer)
		values(#{replyNo},
				#{boardNo},
				#{reply},
				#{replyer})
	</insert>
	<!-- 삭제 -->
	<delete id="delectReply" parameterType="int">
		delete from tbl_reply
		where reply_no = #{rno}
	</delete>
</mapper>