<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>
<configuration>

  <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%5level [%thread] - %msg%n</pattern>
    </encoder>
  </appender>
<!-- 사용하는 mapper.interface넣어주면도ㅣㅁ ,trace많은내용보여줌-->
  <logger name="com.yedam.mapper.BoardMapper">
    <level value="debug"/>
  </logger>
    <logger name="com.yedam.mapper.MemberMapper">
    <level value="debug"/>
  </logger>
  <root level="error">
    <appender-ref ref="stdout"/>
  </root>

</configuration>